<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="containerName" value="test" />
    <add key="storageAccount" value="wzhaoazuretest"/>
    <add key="storageKey" value="ozQz2+kOMiwCVxfAEPpweTcMjpfLuUF9zZ/OET97VWkYRv/k6Fr7k+3qia1uih5GoLexD/Pwev98QpMxMxGpCQ=="/>
  </appSettings>

</configuration>
