<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="containerName" value="test" />
    <add key="storageAccount" value="wzhaoazuretest"/>
    <add key="storageKey" value="NhZJ3IJNyz8w5PtVtGeR7HdjlUgc+564eA5GEIvRosyGEvlIGdnQtcOlbLhiDccSXm/fZINqRh2vvytVr5JjLg=="/>
  </appSettings>

</configuration>
